# Dependencies
node_modules
.pnpm-store

# Production Builds
dist
build
.output

# Local Environment & Secrets
.env
.env.local
.env.*.local

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
